*{
  font-family: 'Roboto', sans-serif;
}
/* inizio navbar */
.navbar{
  width: 100vw;
  height: 10vh;
  background-color: #0D325A;
  margin-left: -8px;
  position: relative;


}

.logo{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  float: left;
}

.menuoption{
  position: absolute;
  float: left;
  top: 50%;
  left: 37%;
  transform: translate(-50%,-50%);

}

.menuoption .option{
  color: white;
  font-size: 12px;
  margin-left: 10px;
}

.option:hover{
  color: orange;
}

.log > span{
  color: grey;
  position: absolute;
  top: 50%;
  right: 29%;
  transform: translate(-50%,-50%);
}
 .log .login{
   width: 80px;
   height: 30px;
   border: 1px solid lightblue;
   border-radius: 5px;
   position: absolute;
   top: 50%;
   right: 25%;
   transform: translate(-50%,-50%);
 }

 .login > span{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.planlog{
  width: 250px;
  height: 30px;
  border-radius: 5px;
  background-color: #7fb802;
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translate(-50%,-50%);
}

.plan > span{
  font-size: 15px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
 /* fine navbar */


 /* inizio header */
 .header{
   width: 100vw;
   height: 40vh;
   background-color: #0D325A;
   margin-left: -8px;
   position: relative;
 }

.header > h1{
  font-size: 45px;
  width: 800px;
  color: white;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(0,-50%);
}

.planhead{
  width: 250px;
  height: 30px;
  border-radius: 5px;
  background-color: #7fb802;
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(0,-50%);
}
/* fine header */
/* inizio main */
.main{
  width: 100vw;
  margin-left: -8px;
  position: relative;
}
.topmain{
  width: 100%;
  height: 200px;
  background-color: #f9f9f9;
  position: relative;
}
.topmain h3{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.topmain span{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #999;
}
